html,
body {
    width: 100%;
    min-height: 100%;
}

    body {
    margin: 0;
    background: #ffffff;
    font-family: "Sora", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    overflow-y: auto;
}

img {
    display: block;
    max-width: 100%;
}

button,
a,
input {
    font-family: inherit;
}

.app-screen {
    width: 100%;
    max-width: 390px;
    height: min(844px, 95vh);

    background: #ffffff;

    overflow-y: auto;
    overflow-x: hidden;

    border-radius: 32px;

    box-shadow:
        0 30px 60px rgba(0, 0, 0, 0.25),
        0 10px 20px rgba(0, 0, 0, 0.12);

    scrollbar-width: none;
}

.app-screen::-webkit-scrollbar {
    display: none;
}

@media (max-width: 480px) {
    html,
    body {
        background: #ffffff;
        min-height: 100dvh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    body {
        display: block;
    }

    .app-screen {
        max-width: 100%;
        min-height: 100dvh;
        height: auto;
        border-radius: 0;
        box-shadow: none;
        background: #ffffff;
    }
}